@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700);

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "Tinos", serif;
  color: #444;
}

h1,
h2,
h3,
h4,
th {
  font-weight: normal;
  color: #0c3b76;
}

h2 {
  margin: 0.8em 0 0.2em;
}

a {
  color: #2771cc;
}
a[href*="//"]
{
  margin: 0 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    padding: 10px;
    text-align: left;
  }
}

:global {
  .table-bordered {
    td,
    th {
      border: solid 1px #ccc;
    }
  }
  .text-right {
    text-align: right;
  }
  .spaced-text {
    line-height: 1.5em;
  }
  @media all {
    .page-break {
      display: none;
    }
    .dont-break {
    }
  }

  @media print {
    .page-break {
      display: block;
      page-break-before: always;
    }
    .break-before {
      page-break-before: always;
    }
    .dont-break {
      page-break-inside: avoid;
    }
  }
}

@media print {
  body {
    color: #111;
  }

  h1,
  h2,
  h3,
  h4,
  th {
    color: #072850;
  }

  a {
    color: #154a8b;
    text-decoration: none;
  }
}
