@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700);


body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: 'Tinos', serif;
}

h1, h2, h3, h4, th {
	font-weight: normal;
}

table {
	width: 100%;
	border-collapse: collapse;
	td, th {
		padding: 10px;
		text-align: left;
	}
}

:global {
	.table-bordered {
		td, th {
			border: solid 1px #eee;
		}
	}
}