.projectTitle {
	margin: 1rem 0 0
}
.projectHeader {
	font-style: italic;
	margin: 5px 0;
}
.projectHighlights {
	margin: .5em 0 0;
}
.techStack {
	display: flex;
	font-size: .9em;
}
.techStackList{
	margin: 5px 0;
	padding-left: 10px;
}