@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700);

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "Tinos", serif;
  color: #444;
}

h1,
h2,
h3,
h4,
th {
  font-weight: normal;
  color: #0c3b76;
}

h2 {
  margin: 0.8em 0 0.2em;
}

a {
  color: #2771cc;
}

a[href*="//"]
{
  margin: 0 5px;
}

.header {
  margin: 1rem 0;
}

.name {
  margin: 0;
}

@media (min-width: 480px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 480px) {
  .skillTitle {
    width: 175px;
  }
}

.companyDetailItem {
  padding: 0.5em 0;
}

.summary {
  margin: 0.5em 0;
}

.highLights {
  margin: 0;
  padding: 0.5em 0 0.5em 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  padding: 10px;
  text-align: left;
}

.table-bordered td,
.table-bordered th {
  border: solid 1px #ccc;
}
.text-right {
  text-align: right;
}
.spaced-text {
  line-height: 1.5em;
}
@media all {
  .page-break {
    display: none;
  }
}
@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
  .break-before {
    page-break-before: always;
  }
  .dont-break {
    page-break-inside: avoid;
  }
  .sr-hidden {
    display: none;
  }
}
@media print {
  body {
    color: #111;
  }
  h1,
  h2,
  h3,
  h4,
  th {
    color: #072850;
  }
  a {
    color: #154a8b;
    text-decoration: none;
  }
}
.projectTitle {
  margin: 1rem 0 0;
}
.projectHeader {
  font-style: italic;
  margin: 5px 0;
}
.projectHighlights {
  margin: 0.5em 0 0;
}
.techStack {
  display: flex;
  font-size: 0.9em;
}
.techStackList {
  margin: 5px 0;
  padding-left: 10px;
}
.projectsList {
  margin: 5px 0;
}

.buttons {
  padding-top: 20px;
  opacity: 0.3;
  transition:opacity ease 500ms;
  transition-delay: 2s;
}
.buttons:hover {
  opacity: 1;
}